@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

h1, h2, h3 {
  color: #2c3e50;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #217dbb;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container h1 {
  font-size: 36px;
}

.home-container button {
  font-size: 20px;
  padding: 15px 30px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.course-list {
  list-style: none;
  padding: 0;
}

.course-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
  text-align: left;
}

.course-card h2 {
  margin: 0;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background: #217dbb;
}

.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  margin-bottom: 20px;
}

.profile-info {
  text-align: left;
}

title::before {
  content: "AgroInnova - онлайн курсы";
}
