.settings-title {
    font-size: 28px;
    margin: 20px;
    font-weight: bold;
}

.sidebar-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 20px 30px;
}

.sidebar-tabs button {
    background-color: #e0e0e0;
    /* светло-серый */
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: left;
    transition: background-color 0.2s ease;
}

.sidebar-tabs button.active {
    background-color: gray;

    color: white;
}

.settings-layout {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f4f9f4;
}

.tab-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f0faf1;
    border-left: 1px solid #ccc;
    min-height: 100vh;
    width: 100%;
}